<div class="flex-1">
    <MudText Align="Align.Center" Typo="Typo.h4">@Title</MudText>
    <MudPaper Outlined="true" Class="d-flex ms-2">
        <MudText Align="Align.Center" Typo="Typo.h4" Class="my-2 mx-auto">@Value</MudText>
    </MudPaper>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Value { get; set; }
}
